<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<body>

</body>


<nav class="navbar navbar-expand-sm bg-dark">
  <a  sidebarjsToggle class="btn btn-light"><img width="30" height="30"src="assets/img/lineas.png"></a>
  <h3 style="color:white;">  &nbsp; &nbsp; Equipos</h3>
 
</nav>



<sidebarjs-element (changeVisibility)="onEvent($event)" (open)="onEvent($event)" (close)="onEvent($event)">

  <a class="nav-link" href="/">Equipos</a>


   <div class="d-inline-block" ngbDropdown #myDropequipos="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropequipos.open()">Equipos</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="equipos/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Equipos
</a>
<a routerLink="equipos" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Equipos
</a>
</div>
</div>



  
    <p></p>

  <a><button class="btn btn-danger" sidebarjsToggle><img width="30" height="30"src="assets/img/close.png"></button></a>
</sidebarjs-element>



<br />
<div class="container">
  <router-outlet></router-outlet>
</div>