
<h1> <i class="far fa-plus-square"></i> Crear Equipos</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Placa_Inventario</label>
        <input type="text" class="form-control" formControlName="Placa_Inventario" #Placa_Inventario/>
      </div>
      <div *ngIf="angForm.controls['Placa_Inventario'].invalid && (angForm.controls['Placa_Inventario'].dirty || angForm.controls['Placa_Inventario'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Placa_Inventario'].errors.required">
          Placa_Inventario es requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Nombre</label>
        <input type="text" class="form-control" formControlName="Nombre" #Nombre/>
      </div>
      <div *ngIf="angForm.controls['Nombre'].invalid && (angForm.controls['Nombre'].dirty || angForm.controls['Nombre'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Nombre'].errors.required">
          Nombre es requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Descripcion</label>
        <input type="text" class="form-control" formControlName="Descripcion" #Descripcion/>
      </div>
      <div *ngIf="angForm.controls['Descripcion'].invalid && (angForm.controls['Descripcion'].dirty || angForm.controls['Descripcion'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Descripcion'].errors.required">
          Descripcion es requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Ubicacion</label>
        <input type="text" class="form-control" formControlName="Ubicacion" #Ubicacion/>
      </div>
      <div *ngIf="angForm.controls['Ubicacion'].invalid && (angForm.controls['Ubicacion'].dirty || angForm.controls['Ubicacion'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Ubicacion'].errors.required">
          Ubicacion es requerido.
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-5">
            <label class="col-md-8">Codigo_QR</label>
          
            <input type="text" class="form-control" formControlName="Codigo_QR" #Codigo_QR/>
         
          </div>
     

        </div>
      </div>
      <div *ngIf="angForm.controls['Codigo_QR'].invalid && (angForm.controls['Codigo_QR'].dirty || angForm.controls['Codigo_QR'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Codigo_QR'].errors.required">
          Codigo_QR es requerido.
        </div>
      </div>

            
      <div class="form-group">
        <button (click)="addEquipos(Placa_Inventario.value, Nombre.value, Descripcion.value, Codigo_QR.value, Ubicacion.value)"
          [disabled]="angForm.pristine || angForm.invalid"
          class="btn btn-primary">Crear Equipos</button>
      </div>

     
    </form>
  </div>
</div>




  


